.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  //overflow: hidden;
  height: 100%;
  .layout-wrp{
    height: 100%;
  }
  .ivu-menu-vertical .ivu-menu-item{
    padding:0;
    a.link{
      padding: 14px 24px;
      display: block;
      color: inherit;
      &>i {
        margin-right: 6px;
      }
    }
  }
  .ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{
    a.link{
      padding-left: 43px;
    }
  }
}
.layout-breadcrumb{
  padding: 10px 15px 0;
}
.layout-content{
  min-height: calc(100% - 200px);;
  margin: 15px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.layout-content-main{
  padding: 10px;
}
.layout-copy{
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}
.layout-menu-left{
  height: 100%\0;
  &>ul{
    height: 100%;
  }
}
.layout-header{
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}
.layout-ceiling-main a{
  color: #9ba7b5;
}
.layout-hide-text{
  .layout-text{
    display: none;
  }
  .ivu-menu-vertical{
    .ivu-menu-submenu{
      .ivu-menu-item{
        padding-left: 0;
        a.link {
          padding-left: 43px;
        }
      }
    }
  }
}

.ivu-col{
  transition: width .2s ease-in-out;
}