@import "../conf/variable.scss";
@import "../conf/mixin.scss";
//@import "../lib/element.scss";
.login-wrap{
  background-color: $theme-login-wrap-background;
  background-image: url("../../img/bg.jpg");
  background-size: cover;
}
.plugins-tips{
  background: #eef1f6;
}
.plugins-tips a{
  color: #20a0ff;
}
.el-upload--text em {
  color: #20a0ff;
}
.pure-button{
  background: #20a0ff;
}
.login-wrap{
  width:100%;
  height:100%;
  box-sizing: border-box;
  .link-box{
    font-size:12px;
    line-height:30px;
    color:#51689f;
    height: 30px;
    padding-top: .6rem;
  }
}
.ms-title{
  margin: 0 auto;
  height: 44px;
  padding: 0 20px 2.6rem;
  box-sizing: content-box;
  color: #fff;
  text-align: center;
  .icon{
    width: 80px;
  }
  span{
    font-weight: 500;
    font-size: 1.8rem;
    //padding: 14px 0 0 24px;
    letter-spacing: 2px;
  }
}
.login-box{
  position  : absolute;
  top       : 40%;
  left      : 50%;
  transform : translate(-50%,-50%);
  width: 300px;
}
.ms-login{
  margin: 0 auto;
  padding:30px 30px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.61);
  .code{
    height: 36px;
    text-align: right;
    img{
      height: 100%;
    }
  }
}
.login-btn{
  text-align: center;
  .el-button--primary{
    background: #51689f;
    border-color: #51689f;
    color: white;
    &:hover,&:focus{
      background: #5b70a2;
      border-color: #5b70a2;
    }
    &:active,&.is-active{
      background: #364772;
      border-color: #364772;
    }
  }
}
.login-btn button{
  width:100%;
  height:36px;
}

.tips{
  color: #51689f;
  font-size:12px;
  line-height:30px;
}