.bg_w {
  background: white;
  padding: 15px;
}
.in_news ul li {
  border: 1px solid #DDD;
  height: 38px;
  line-height: 38px;
  margin-bottom: 15px;
}
.in_news ul li .hint {
  float: left;
  margin: 0px 15px;
  color: #FE9802;
}
.in_news ul li .time {
  float: right;
  margin-right: 15px;
  color: #666;
  font-size: 12px;
}
.kszc {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #666;
}
.kszc p {
  margin-top: 15px;
}